{% extends 'app/base.html' %}
{% load static %}
{% block title %}Buy Now{% endblock title %}

{% block main-content %}
<div class="container my-5">
    <div class="row">
        <h3>Welcome {{request.user.username|capfirst}}</h3>

        <div class="col-sm-2 border-end">
            <ul class="list-unstyled">
                <li class="d-grid">
                    <a href="{% url 'profile' %}" class="btn btn-primary">
                        Change Password Done
                    </a>
                </li>
            </ul>
        </div>

        <div class="col-sm-9 offset-sm-1 text-center">
            <h3>Password Changed Successfully !!!</h3>

            <div>
                <div class="mt-3">
    <img
        src="https://media.istockphoto.com/id/1416145560/vector/green-circle-with-green-tick-flat-ok-sticker-icon-green-check-mark-icon-tick-symbol-in-green.jpg?s=612x612&w=0&k=20&c=Uh3KS7c_o5QmrfisyV-aRzDUNqtAM7QUVJrc8bniVsQ="
        alt="Success"
        width="200"
        height="200"
        class="img-fluid">

            </div>
        </div>
    </div>
</div>
{% endblock main-content %}